{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}
<h1 id="">Welcome to Holland Code Online</h1>
    <div>&nbsp;</div>
        <body>
    <div class="checkbox">
        <form action="{{ url_for('add_investigative') }}" method="post">
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th width="300px">Are You:</th>
                    <th>Check</th>
                </tr>
                </thead>
                <tr>
                    <td>Inquisitive</td>
                    <td><label><input type="checkbox" name="investigative_attr" value="edit">Yes</label></td>
                </tr>
                <tr>
                    <td>Scientific</td>
                    <td><label><input type="checkbox" name="investigative_attr" value="edit">Yes</label></td>
                </tr>
                <tr>
                    <td>Precise</td>
                    <td><label><input type="checkbox" name="investigative_attr" value="edit">Yes</label></td>
                </tr>
                <tr>
                    <td>Cautious</td>
                    <td><label><input type="checkbox" name="investigative_attr" value="edit">Yes</label></td>
                </tr>
                <tr>
                    <td>Self-confident</td>
                    <td><label><input type="checkbox" name="investigative_attr" value="edit">Yes</label></td>
                </tr>
                <tr>
                    <td>Reserved</td>
                    <td><label><input type="checkbox" name="investigative_attr" value="edit">Yes</label></td>
                </tr>
                <tr>
                    <td>Independent</td>
                    <td><label><input type="checkbox" name="investigative_attr" value="edit">Yes</label></td>
                </tr>
                <tr>
                    <td>Analytical</td>
                    <td><label><input type="checkbox" name="investigative_attr" value="edit">Yes</label></td>
                </tr>
                <tr>
                    <td>Observant</td>
                    <td><label><input type="checkbox" name="investigative_attr" value="edit">Yes</label></td>
                </tr>
                <tr>
                    <td>Scholarly</td>
                    <td><label><input type="checkbox" name="investigative_attr" value="edit">Yes</label></td>
                </tr>
                <tr>
                    <td>Curious</td>
                    <td><label><input type="checkbox" name="investigative_attr" value="edit">Yes</label></td>
                </tr>
                <tr>
                    <td>Logical</td>
                    <td><label><input type="checkbox" name="investigative_attr" value="edit">Yes</label></td>
                </tr>
                <thead>
                    <tr>
                        <th width="300px">Can You:</th>
                        <th>Check</th>
                    </tr>
                </thead>
                <tr>
                    <td>Think abstractly</td>
                    <td><label><input type="checkbox" name="investigative_attr" value="edit">Yes</label></td>
                </tr>
                <tr>
                    <td>Solve math problems</td>
                    <td><label><input type="checkbox" name="investigative_attr" value="edit">Yes</label></td>
                </tr>
                <tr>
                    <td>Do complex calculations</td>
                    <td><label><input type="checkbox" name="investigative_attr" value="edit">Yes</label></td>
                </tr>
                <tr>
                    <td>Use a microscope</td>
                    <td><label><input type="checkbox" name="investigative_attr" value="edit">Yes</label></td>
                </tr>
                <tr>
                    <td>Program computers</td>
                    <td><label><input type="checkbox" name="investigative_attr" value="edit">Yes</label></td>
                </tr>
                <thead>
                    <tr>
                        <th width="300px">Do you like to:</th>
                        <th>Check</th>
                    </tr>
                </thead>
                <tr>
                    <td>Explore ideas</td>
                    <td><label><input type="checkbox" name="investigative_attr" value="edit">Yes</label></td>
                </tr>
                <tr>
                    <td>Use computers</td>
                    <td><label><input type="checkbox" name="investigative_attr" value="edit">Yes</label></td>
                </tr>
                <tr>
                    <td>Do lab experiments</td>
                    <td><label><input type="checkbox" name="investigative_attr" value="edit">Yes</label></td>
                </tr>
                <tr>
                    <td>Read technical journals</td>
                    <td><label><input type="checkbox" name="investigative_attr" value="edit">Yes</label></td>
                </tr>
                <tr>
                    <td>Analyze data</td>
                    <td><label><input type="checkbox" name="investigative_attr" value="edit">Yes</label></td>
                </tr>
                <tr>
                    <td>Be challenged</td>
                    <td><label><input type="checkbox" name="investigative_attr" value="edit">Yes</label></td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <br>
    <br>
        <div class="progress">
  <div class="progress-bar" style="width: 85%;"></div>
</div>
    </body>


{% endblock %}