{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}
    <h1 id="">Welcome to Holland Code Online</h1>
    <div>&nbsp;</div>
        <body>
        <div class="checkbox">
            <form action="{{ url_for('add_social') }}" method="post">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th width="300px">Are You:</th>
                        <th>Check</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>Friendly</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>
                    <tr>
                        <td>Idealistic</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>
                    <tr>
                        <td>Outgoing</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>
                    <tr>
                        <td>Cooperative</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>
                    <tr>
                        <td>Responsible</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>
                    <tr>
                        <td>Helpful</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>
                    <tr>
                        <td>Persuasive</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>
                    <tr>
                        <td>Patient</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>
                    <tr>
                        <td>Insightful</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>
                    <tr>
                        <td>Understanding</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>
                    <tr>
                        <td>Generous</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>
                    <tr>
                        <td>Forgiving</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>
                    <thead>
                    <tr>
                        <th>Can You:</th>
                        <th>Check</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>Teach others</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>
                    <tr>
                        <td>Express yourself clearly</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>
                    <tr>
                        <td>Lead a group discussion</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>
                    <tr>
                        <td>Mediate disputes</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>
                    <tr>
                        <td>Cooperate with others</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>
                    <tr>
                        <td>Plan an activity</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>
                    <thead>
                    <tr>
                        <th>Do you like to:</th>
                        <th>Check</th>
                    </tr>
                    </thead>
                    <tr>
                        <td>Work in groups</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>
                    <tr>
                        <td>Help people with problems</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>
                    <tr>
                        <td>Participate in meetings</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>
                    <tr>
                        <td>Do volunteer work</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>
                    <tr>
                        <td>Play team sports</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>
                    <tr>
                        <td>Work with younger people</td>
                        <td><label><input type="checkbox" name="social_attr" value="edit">Yes</label></td>
                    </tr>

                </table>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <br>
        <br>
        <div class="progress">
  <div class="progress-bar" style="width: 17%;"></div>
</div>
    </body>

{% endblock %}